:root {
    --primary-color: #007bff;
    --text-color: #ffffff;
    --nav-bg-color: #343a40;
    --nav-text-color: var(--text-color);
    --nav-hover-bg-color: #0056b3;
    --nav-height: 60px;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-content{
    padding-top: 90px;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    height: var(--nav-height);
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    z-index: 1000;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    color: var(--nav-text-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-links a:hover {
    background-color: var(--nav-hover-bg-color);
}

@media (max-width: 768px) {
    .navbar-links a {
        padding: 10px 10px;
    }
}
@media (max-width: 600px) {
    .main-content {
        padding-top: 60px; /* ajutser la hauteur pour petits ecrans*/
    }
}

.catalogue {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Augmente la largeur minimale des boîtes */
    gap: 30px; /* Plus d'espace entre les boîtes */
    padding: 80px; /* Augmente l'espacement autour du catalogue */
    justify-content: center;
}

.box {
    height: 200px; /* Augmente la hauteur des boîtes */
    background-color: #ffffff; /* Couleur de fond */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre portée plus prononcée pour un effet 3D */
    border-radius: 10px; /* raidus arrondis les coins */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation pour le survol */
}

.box:hover {
    transform: translateY(-5px); /* Légère élévation au survol */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Ombre plus marquée au survol */
}

.box img {
    width: 100%; /* Assure que l'image ne dépasse pas de la boîte */
    max-height: 50%; /* Limite la hauteur de l'image */
    object-fit: cover; /* Assure que l'image couvre bien la zone dédiée sans être déformée */
    border-radius: 8px; /* Bords arrondis pour l'image */
}

.box .content {
    text-align: center; /* Centre le texte */
    margin-top: 20px; /* Espacement au-dessus du texte */
}

.box .content h3 {
    margin: 0;
    padding: 0;
    color: #333; /* Couleur du texte */
    font-size: 24px; /* Taille du texte */
}

.box .content p {
    color: #666; /* Couleur du texte secondaire */
    font-size: 16px; /* Taille du texte secondaire */
}
